footer {
    padding: 64px 0 25px;
    background: #0D2436;

    @media (max-width:750px) {
        padding: 25px 0;
    }

}





.footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (max-width:750px) {
        display: block;
    }


    &__logo {
        @media (max-width:750px) {
            display: flex;
            gap: 45px;
            align-items: center;
            margin-bottom: 20px;
        }

        &__bottom {
            margin-top: 100px;
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }


    &__links {
        display: flex;
        gap: 96px;

        @media (max-width:1010px) {
            gap: 25px;
        }

        @media (max-width:800px) {
            gap: 15px;
        }


        @media (max-width:670px) {
            // display: block;
            flex-wrap: wrap;
        }

        h3 {
            font-family: SF Pro Text;
            font-size: 18px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
            margin-bottom: 24px;
        }

        a,
        label,
        p {
            font-family: SF Pro Text;
            font-size: 16px;
            font-weight: 300;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
            color: #ffffff;
        }

        a {
            text-decoration: none;
        }

        &__navigation {
            max-width: 140px;
            width: 100%;

            div {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }

        }

        &__contacts {
            max-width: 180px;
            width: 100%;

            div {
                display: flex;
                flex-direction: column;
                gap: 14px;
            }
        }

        &__addres {
            // @media (max-width:670px) {
            //     display: block;
            // }

            p {
                max-width: 180px;
                width: 100%;
            }
        }

        &__about {
            div {
                max-width: 146px;
                display: flex;
                flex-direction: column;
                gap: 16px;
            }
        }
    }

}


hr {
    margin-top: 50px;
}

.golden-soft {
    margin-top: 25px;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #ffffff;
}